
<div class="container">

    <h2>About</h2>
    <p>
        A simple front end for the <a href="https://www.npmjs.com/package/nostra" target="_blank">nostra</a> npm module for generating fortunes.
    </p>

    <p>
        A <a href="https://nodejs.org/">Node</a> + <a href="http://expressjs.com/">Express</a> web app
        with a <a href="http://getbootstrap.com/">Bootstrap</a> + <a href="https://jqueryui.com/">jQuery</a> responsive layout.

    </p>

    <p>
        On Github at: <a href="https://github.com/hillscottc/nostranode" target="_blank">https://github.com/hillscottc/nostranode</a>
    </p>

</div>