
<div class="container">

    <div class="main-template">

        <br/><br/>
        <input type="submit" class="btn btn-primary"
               id="btnFortune" value="Get Fortune" />

        <br/><br/><br/><br/><br/>
        <div id="fortuneDiv" class="lead"></div>

    </div>

</div>